@import "config";
@import "menu";
@import "navbars";

// :root {
//   font-size: 16px;
//   font-family: "Open Sans";
//   --text-primary: #b6b6b6;
//   --text-secondary: #ececec;
//   --bg-primary: #23232e;
//   --bg-secondary: #141418;
//   --transition-speed: 600ms;
// }

body {
  font-family: $font-primary;
  color: black;
  background-color: $bg-third;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr 2.4fr 1fr;
  grid-template-rows: 0.3fr 2fr 1fr;
  grid-template-areas: "TOP-NAV TOP-NAV TOP-NAV TOP-NAV" "LEFT-NAV MENU CONTENT CONTENT" "LEFT-NAV MENU CONTENT CONTENT";
}

.MENU {
  grid-area: MENU;
}

.CONTENT {
  grid-area: CONTENT;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: $transition-speed;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: $text-secondary;
  font-family: $font-secondary;
  background: $bg-secondary;
  font-size: 1.3rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: $transition-speed;
}

.logo-text {
  display: inline;
  position: absolute;

  left: -999px;
  transition: $transition-speed;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}
@import "mobile";
@import "utilities";
